<% layout('layouts/boilerplate') %> 
          <div class="row">
            <h1 class="text-center">Edit Post</h1>
              <div class="col-6 offset-3" >
                <form class="validate-form" action="/locations/<%= updateData._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
                  <div class="row h-100 justify-content-center align-items-center">
                  <div class="col-10 col-md-8 col-lg-10">
                  <br>
                  <div class="form-group">
                    <label for="title">Name:</label>
                    <input type="text" class="form-control" id="title" name="locations[title]" required placeholder="Update name" value="<%= updateData.title %>" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="adress">Adress:</label>
                    <input type="text" class="form-control" id="adress" name="locations[location]" required placeholder="Update adress" value="<%= updateData.location %>" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" name="locations[description]" minlength="5" required placeholder="Update description" required><%= updateData.description %></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" id="phone" name="locations[phone]" placeholder="Update phone number" pattern="[0-9]{4} [0-9]{3} [0-9]{3}" value="<%= updateData.phone %>" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="locations[email]" placeholder="Update email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" value="<%= updateData.email %>" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="website">Website:</label>
                    <input type="url" class="form-control" id="website" name="locations[website]" placeholder="Update website" pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?" value="<%= updateData.website %>" required>
                  </div>
                  <br>
                  <!--
                  <div class="form-group">
                    <label for="image">Image URL:</label>
                    <input type="url" class="form-control" id="image" name="locations[image]" placeholder="Enter new image URL" pattern="https://.*" value="<%= updateData.image %>" required>
                  </div>
                -->
                <div class="form-group">
                  <label for="images">Add image(s):</label>
                  <br>
                  <input type="file" class="form-control" name="images" id="images"  name="locations[images]" multiple>
                </div>
                <br>
                <label for="carouselExampleControls">Current image(s):</label>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                  <% updateData.images.forEach((img, i) => { %>
                    <div class="carousel-item <%=i === 0 ? 'active' : '' %>">
                      <img class="d-block w-100" id="images" src="<%= img.url %>" alt="images carousel">
                        <div class="deleteImages d-flex justify-content-center">
                          <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                          </div>
                        <label for="image-<%=i%>">Delete image <%=i + 1%></label>
                      </div>
                    </div>
                    <% }) %> 
                  </div>
                  <% if(updateData.images.length > 1){ %> 
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <% } %>
                </div>
                  <br>
                  <button type="submit" class="btn btn-info">Update</button>
                  <a href="/locations/<%= updateData._id %>">
                    <input type="button" class="btn btn-danger" value="Cancel"/>
                 </a>
                  </div>
                  </div>
                </form>
                <br>
              </div>
          </div>