<%-include('../layouts/head')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/../CSS/global.css">
<link rel="stylesheet" href="/../CSS/stars.css">
<link rel="stylesheet" href="/../CSS/postsindex.css">

<body>
<%-include('../partials/navbar')%>
<div class="container mt-3">
<%-include('../partials/flash')%>
<div class="row">
<aside class="col-md-3">		
<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<p data-toggle="collapse" aria-expanded="true">
				<i class="icon-control fa"></i>
				<h6 class="title">Search</h6>
			</p>
		</header>
		<div class="filter-content collapse show">
			<div class="card-body">
				<form action="/locations?q=<%= q %>" method="GET">
				<div class="input-group">
				<button type="submit" class="btn btn-warning btn-create-post send-data">Search</button>
				<input type="text" name="locations[tags]" id="tags" class="form-control tags input" pattern="(#[a-zA-Z0-9]+,? *)*#[a-zA-Z0-9]+" placeholder="#Restaurant,#Pub">
				</div>
				</form>
			</div> 
		</div>
	</article>

    <article class="filter-group">
        <header class="card-header">
			<p data-toggle="collapse" aria-expanded="true">
				<i class="icon-control fa"></i>
				<h6 class="title">Filter by</h6>
			</p>
		</header>
        <select class="mt-4 mb-4 p-2 form-control">
            <option>Latest items</option>
            <option>Trending</option>
            <option>Most Popular</option>
            <option>Cheapest</option>
        </select>
    </article>

	<article class="filter-group">
		<header class="card-header">
			<p 	data-toggle="collapse" aria-expanded="true">
				<i class="icon-control fa"></i>
				<h6 class="title">Tags</h6>
			</p>
		</header>
		<div class="filter-content collapse show col">
			<div class="card-body">
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input"> Restaurant  
				</label>
	    </div>
	</div>
    <div class="filter-content collapse show col">
        <div class="card-body">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"> Bar  
            </label>
        </div>
    </div>

    <div class="filter-content collapse show col">
        <div class="card-body">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"> Delivery  
            </label>
        </div>
    </div>
	</article>

	<article class="filter-group">
		<header class="card-header">
			<p data-toggle="collapse" aria-expanded="true">
				<i class="icon-control fa"></i>
				<h6 class="title">Rating </h6>
			</p>
		</header>
		<div class="filter-content collapse show mt-2 mb-2 ">
			<div class="d-flex flex-row justify-content-left">
				<div class="text-warning mb-1 me-2">
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</div>
			  </div>
    </div>
	</article>
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" aria-expanded="false">
				<i class="icon-control fa"></i>
			</a>
		</header>
	</article>
</div>
</aside>

<main class="col-md-9">
<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class=""><%= postCount %> Items found </span>
		</div>
</header>

<div class="column">
	<div class="column columns-cols-3 gap-3">
		<section>
			<div class="container">
				<% for (let items of Findr){ %>
			  <div class="row justify-content-center mb-3">
				<div class="col-md-12 col-xl-12">
				  <div class="card shadow-0 border rounded-3">
					<div class="card-body">
					  <div class="row">
						<div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
						  <div class="bg-image hover-zoom ripple rounded ripple-surface">
							<img src="<%= items.images[0].url %>" alt="location image" class="img-fluid w-100">
							<a href="#!">
							  <div class="hover-overlay">
								<div class="mask"></div>
							  </div>
							</a>
						  </div>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-6">
						  <h5><b><%= items.title %></b></h5>
						  <div class="d-flex flex-row">
							<div class="text-warning mb-1 me-2">
							  <i class="fa fa-star"></i>
							  <i class="fa fa-star"></i>
							  <i class="fa fa-star"></i>
							  <i class="fa fa-star"></i>
							</div>
							<span>4.5 (310)</span>
						  </div>
						  <div class="mt-1 mb-0 text-muted small">
							<% for (let tag of items.tags){ %>
							<span><%= tag %></span>
							<span class="text-primary"> • </span>
							<% } %>
						  </div>
						  <br>
						  <h5 class="text-muted small"><%= items.location %></h5>
						  <h6 class="text-truncate mb-4 mb-md-0" style="overflow-wrap: break-word;"><%= items.description %></h6>
						</div>
						<div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
						  <div class="d-flex flex-column mt-4">
							<a href="/locations/<%= items._id %>" class="btn btn-block btn-warning index-btn-orange">See more</a>
							<button class="btn btn-outline-warning btn-sm mt-2" type="button">Add to favorites</button>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <% } %>	
		  </section>        
	</div>
</div>

<nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
</div>
</div>
<div class="footer">
	<%-include('../partials/footer')%>
</div>
</body>
