<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="<%= data.image %> " class="card-img-top" alt="A descriptive image for <%= data.title %>">
            <div class="card-body">
              <h1 class="card-title"><%= data.title %></h1>
              <h3 class="card-title text-muted"><%= data.location %></h3>
              <p class="card-text"><%= data.description %></p>
              <hr>
              <p class="card-text">E-mail: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
              <hr>
              <p class="card-text">Website: <a href="<%= data.website %>"><%= data.website %></a></p>
              <hr>
              <p class="card-text">Phone: <a href="Tel: +<%= data.phone %>"><%= data.phone %></a></p>
              <hr>
             <div class="text-muted">
                Submitted by <%= data.author.username %>
             </div>
            </div>
            <div class="card-footer text-muted mb-3">
                <%= data.createdAt %>
            </div>
            <% if(currentUser && data.author.equals(currentUser._id)){ %> 
            <div class="d-grid gap-3 d-md-flex justify-content-md-center mb-auto">
                <a href="/locations/edit/<%= data._id %>"><input type="button" class="btn btn-info" value="Edit"></a>
                <a href="/locations"><input type="button" class="btn btn-info" value="View all"></a>
                <form action="/locations/<%= data._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
            </div>
            <% } %> 
        </div>
    </div>
    <div class="col-6">
        <form action="/locations/reviews/<%= data._id %>" method="POST" class="mb-3 validate-form" novalidate>
          <div class="card">
            <div class="row">
                <div class="col-2">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                </div>
                <div class="col-10">
                    <div class="comment-box ml-2">
                        <label for="rating">Leave a review:</label>
                        <br>
                        <div class="rating" name="review[rating]" id="rating">
                            <input type="radio" name="review[rating]" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="review[rating]" value="4" id="4"><label for="4">☆</label> 
                            <input type="radio" name="review[rating]" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="review[rating]" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1">☆</label>
                        </div>
                        <div class="comment-area">
                            <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="4" required="required" placeholder="Leave a comment..."></textarea>
                        </div>
                        <div class="comment-btns mt-3">
                            <div class="row">
                                <div class="col-0">
                                </div>
                                <div class="col-0">
                                    <div class="pull-left">
                                    <button class="btn btn-info">Post comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
      </form>
      <!--DISPLAYED REVIEWS-->
      <% for(let review of data.reviews ) { %>
          <div class="mb-3">
              <div class="card">
                  <div class="row">
                      <div class="col-2">
                          <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                      </div>
                      <div class="col-10">
                          <div class="comment-box ml-2">
                              <label for="rating">Username</label>
                              <br>
                              <div class="rating" name="review[rating]" id="rating">
                                  <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1"><%= review.rating %></label>
                              </div>
                              <br>
                              <div class="comment-area">
                                  <p><%= review.comment %></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <hr>
                          <div class="d-grid gap-3 d-md-flex justify-content-md-left mb-2">
                          <a href="/locations/reviews/<%= data._id %>/<%= review._id %>/edit" type="button" class="btn btn-sm btn-info">Edit</a>
                          <form action="/locations/reviews/<%= data._id %>/<%= review._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-sm btn-danger">Delete</button></form>
                          </div>
                        </form>
                      </div>
                    <div class="card-footer text-muted">
                        <p>Created at <%= review.createdAt %></p> 
                    </div>
                  </div>
              <% } %> 
              </div>
          </div> 
      </div>
  </div>
  <br>
</div>