<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/../CSS/stars.css">
<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="<%= data.image %> " class="card-img-top" alt="A descriptive image for <%= data.title %>">
            <div class="card-body">
              <h1 class="card-title"><%= data.title %></h1>
              <h3 class="card-title text-muted"><%= data.location %></h3>
              <p class="card-text"><%= data.description %></p>
              <hr>
              <p class="card-text">E-mail: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
              <hr>
              <p class="card-text">Website: <a href="<%= data.website %>"><%= data.website %></a></p>
              <hr>
              <p class="card-text">Phone: <a href="Tel: +<%= data.phone %>"><%= data.phone %></a></p>
              <hr>
             <div class="text-muted">
                Submitted by <%= data.author.username %>
             </div>
            </div>
            <div class="card-footer text-muted mb-3">
                <%= data.createdAt %>
            </div>
            <% if(currentUser && data.author.equals(currentUser._id)){ %> 
            <div class="d-grid gap-3 d-md-flex justify-content-md-center mb-auto">
                <a href="/locations/edit/<%= data._id %>"><input type="button" class="btn btn-info" value="Edit"></a>
                <a href="/locations"><input type="button" class="btn btn-info" value="View all"></a>
                <form action="/locations/<%= data._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
            </div>
            <% } %> 
        </div>
    </div>
    <!--review form-->
    <div class="col-6">
        <% if(currentUser){ %> 
        <form action="/locations/reviews/<%= data._id %>" method="POST" class="mb-3 validate-form" novalidate>
          <div class="card">
            <div class="row">
                <div class="col-2">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                </div>
                <div class="col-10">
                    <div class="comment-box ml-2">
                        <label for="rating">Leave a review:</label>
                        <br>
                        <div class="rating" name="review[rating]" id="rating">
                            <input type="radio" name="review[rating]" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="review[rating]" value="4" id="4"><label for="4">☆</label> 
                            <input type="radio" name="review[rating]" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="review[rating]" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1">☆</label>
                        </div>
                        <div class="comment-area">
                            <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="4" required="required" placeholder="Leave a comment..."></textarea>
                        </div>
                        <div class="comment-btns mt-3">
                            <div class="row">
                                <div class="col-0">
                                </div>
                                <div class="col-0">
                                    <div class="pull-left">
                                    <button class="btn btn-info">Post comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
      </form>
      <% } %>
      <!--DISPLAYED REVIEWS-->
      <% for(let review of data.reviews ) { %>
          <div class="mb-4">
              <div class="card">
                  <div class="row">
                      <div class="col-2">
                          <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                      </div>
                      <div class="col-4">
                          <div class="comment-box">
                            <div class="rating" name="review[rating]" id="rating">
                                <p class="starability-result" data-rating=<%= review.rating %>></p>
                            </div>
                              <label for="rating"><b><%= review.author.username %></b></label>
                              <br>
                              <div class="comment-area">
                                <p><%= review.comment %></p>
                            </div>
                        </div>
                        </div>
                          </div>
                          <% if(currentUser && review.author.equals(currentUser._id)){ %> 
                          <hr>
                          <div class="d-grid gap-3 d-md-flex justify-content-md-left mb-2">
                          <a href="/locations/reviews/<%= data._id %>/<%= review._id %>/edit" type="button" class="btn btn-sm btn-info">Edit</a>
                          <form action="/locations/reviews/<%= data._id %>/<%= review._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-sm btn-danger">Delete</button></form>
                          </div>
                          <% } %>
                        </form>
                      </div>
                    <div class="card-footer text-muted">
                        <p>Created at <%= review.createdAt %></p> 
                    </div>
                  </div>
                  <!--
                  <div class="card">
                    <div class="row d-flex">
                        <div class=""> <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg"> </div>
                        <div class="d-flex flex-column">
                            <h3 class="mt-2 mb-0"></h3>
                            <div>
                                <p class="text-left"><span class="text-muted">4.0</span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-left">
                        <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                        <p class="content">If you really enjoy spending your vacation 'on water' or would like to try something new and exciting for the first time.</p>
                    </div>
                    <div class="row text-left"> <img class="pic" src="https://i.imgur.com/kjcZcfv.jpg"> <img class="pic" src="https://i.imgur.com/SjBwAgs.jpg"> <img class="pic" src="https://i.imgur.com/IgHpsBh.jpg"> </div>
                    <div class="row text-left mt-4">
                        <div class="like mr-3 vote"> <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span> </div>
                        <div class="unlike vote"> <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
              <% } %> 
              </div>
          </div> 
      </div>
  </div>
</div>
<style>
body {
    background-repeat: no-repeat;
};

a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}
</style>