<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/../CSS/stars.css">
<div class="row mb-3">
    <div class="col-6">
        <div class="card">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <% data.images.forEach((img, i) => { %>
                  <div class="carousel-item <%=i === 0 ? 'active' : '' %>">
                    <img class="d-block w-100" src="<%= img.url %>" alt="">
                  </div>
                  <% }) %> 
                </div>
                <% if(data.images.length > 1){ %> 
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <% } %>  
              </div>
            <div class="card-body">
              <h1 class="card-title"><%= data.title %></h1>
              <h3 class="card-title text-muted"><%= data.location %></h3>
              <p class="card-text"><%= data.description %></p>
              <hr>
              <p class="card-text">E-mail: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
              <hr>
              <p class="card-text">Website: <a href="<%= data.website %>"><%= data.website %></a></p>
              <hr>
              <p class="card-text">Phone: <a href="Tel: +<%= data.phone %>"><%= data.phone %></a></p>
              <hr>
             <div class="text-muted">
                Submitted by <%= data.author.username %>
             </div>
            </div>
            <div class="card-footer text-muted mb-3">
                <%= data.createdAt %>
            </div>
            <% if(currentUser && data.author.equals(currentUser._id)){ %> 
            <div class="d-grid gap-3 d-md-flex justify-content-md-center mb-auto">
                <a href="/locations/edit/<%= data._id %>"><input type="button" class="btn btn-info" value="Edit"></a>
                <a href="/locations"><input type="button" class="btn btn-info" value="View all"></a>
                <form action="/locations/<%= data._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
            </div>
            <% } %> 
        </div>
    </div>
    <!--review form-->
    <div class="col-6">
        <% if(currentUser){ %> 
        <form action="/locations/reviews/<%= data._id %>" method="POST" class="mb-3 validate-form" novalidate>
          <div class="card">
            <div class="row">
                <div class="col-2">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                </div>
                <div class="col-10">
                    <div class="comment-box ml-2">
                        <label for="rating">Leave a review:</label>
                        <br>
                        <div class="rating" name="review[rating]" id="rating">
                            <input type="radio" name="review[rating]" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="review[rating]" value="4" id="4"><label for="4">☆</label> 
                            <input type="radio" name="review[rating]" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="review[rating]" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1">☆</label>
                        </div>
                        <div class="comment-area">
                            <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="4" required="required" placeholder="Leave a comment..."></textarea>
                        </div>
                        <div class="comment-btns mt-3">
                            <div class="row">
                                <div class="col-0">
                                </div>
                                <div class="col-0">
                                    <div class="pull-left">
                                    <button class="btn btn-info">Post comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
      </form>
      <% } %>
      <!--DISPLAYED REVIEWS-->
      <% for(let review of data.reviews ) { %>
        <section">
          <div class="mb-4">
              <div class="card">
                  <div class="row justify-content-md-center">
                  <div class="col-md-12">
                    <div class="rating" name="review[rating]" id="rating">
                        <p class="starability-result" data-rating=<%= review.rating %>></p>
                    </div>
                </div>
                <div class="card-body">
                  <div class="d-flex flex-start align-items-center">
                    <img class="rounded-circle me-3"
                      src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold text-primary mb-1"><%= review.author.username %></h6>
                      <p class="text-muted small">
                        Shared on <%= review.createdAt %>
                      </p>
                    </div>
                  </div>
      
                  <p class="mt-3 mb-4 pb-2">
                    <%= review.comment %>
                  </p>
                </div>
            </div>
                  <% if(currentUser && review.author.equals(currentUser._id)){ %> 
                    <hr>
                    <div class="small d-flex justify-content-start">
                    <div class="d-grid gap-3 d-md-flex justify-content-md-left mb-2">
                        <a href="#!" class="d-flex align-items-center me-3">
                            <a href="/locations/reviews/<%= data._id %>/<%= review._id %>/edit" type="button" class="btn btn-sm btn-info">Edit</a>
                        </a>
                        <a href="#!" class="d-flex align-items-center me-3">
                            <form action="/locations/reviews/<%= data._id %>/<%= review._id %>/delete?_method=DELETE" method="POST"><button class="btn btn-sm btn-danger">Delete</button></form>
                        </a>
                    </div>
                </div>
            <% } %>
      </section>
</div>
<% } %>
<!--style-->
<style>
body {
    background-repeat: no-repeat;
};

a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}
</style>