<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="<%= data.image %> " class="card-img-top" alt="A descriptive image for <%= data.title %>">
            <div class="card-body">
              <h1 class="card-title"><%= data.title %></h1>
              <hr/>
              <h3 class="card-title text-muted"><%= data.location %></h3>
              <hr>
              <p class="card-text"><%= data.description %></p>
              <hr>
              <p class="card-text">E-mail: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
              <hr>
              <p class="card-text">Website: <a href="<%= data.website %>"><%= data.website %></a></p>
              <hr>
              <p class="card-text">Phone: <a href="Tel: +<%= data.phone %>"><%= data.phone %></a></p>
            </div>
            <div class="d-grid gap-3 d-md-flex justify-content-md-center mb-2">
                <a href="/locations/edit/<%= data._id %>"><input type="button" class="btn btn-info" value="Edit"></a>
                <a href="/locations"><input type="button" class="btn btn-info" value="View all"></a>
                <form action="/locations/<%= data._id %>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
            </div>
            <div class="card-footer text-muted">
                Created 2 days ago
            </div>
        </div>
    </div>
    <div class="col-6">
        <form action="/locations/reviews/<%= data._id %>" method="POST" class="mb-3 validate-form" novalidate>
          <div class="card">
            <div class="row">
                <div class="col-2">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                </div>
                <div class="col-10">
                    <div class="comment-box ml-2">
                        <label for="rating">Leave a review:</label>
                        <br>
                        <div class="rating" name="review[rating]" id="rating">
                            <input type="radio" name="review[rating]" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" name="review[rating]" value="4" id="4"><label for="4">☆</label> 
                            <input type="radio" name="review[rating]" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" name="review[rating]" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1">☆</label>
                        </div>
                        <div class="comment-area">
                            <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="4" required="required" placeholder="Leave a comment..."></textarea>
                        </div>
                        <div class="comment-btns mt-3">
                            <div class="row">
                                <div class="col-0">
                                </div>
                                <div class="col-0">
                                    <div class="pull-left">
                                    <button class="btn btn-info">Post comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
      </form>
      <!--DISPLAYED REVIEWS-->
      <% for(let review of data.reviews ) { %>
          <div class="mb-3">
              <div class="card">
                  <div class="row">
                      <div class="col-2">
                          <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                      </div>
                      <div class="col-10">
                          <div class="comment-box ml-2">
                              <label for="rating">Username</label>
                              <br>
                              <div class="rating" name="review[rating]" id="rating">
                                  <input type="radio" name="review[rating]" value="1" id="1" required="required"/><label for="1"><%= review.rating %></label>
                              </div>
                              <br>
                              <div class="comment-area">
                                  <p><%= review.comment %></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <hr>
                          <form action="/locations/reviews/<%= data._id %>/<%= review._id %>?_method=DELETE" method="POST"><button class="btn btn-sm btn-danger">Delete</button></form>
                        </form>
                      </div>
                    <div class="card-footer text-muted">
                        <p>Created 2 days ago</p> 
                    </div>
                  </div>
              <% } %> 
              </div>
          </div> 
      </div>
  </div>
</div>

<!-- REVIEW / COMMENTS CSS & JS SCRIPT -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
};

.comment-box{
    
    padding: 10px;
}

.comment-area textarea{
   resize: none; 
        border: 1px solid #ad9f9f;
}


.form-control:focus {
    color: #1a1a1a;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #0dcaf0 !important;
}

.rating {
 display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
}

.rating>input {
    display: none
}

.rating>label {
        position: relative;
    width: 19px;
    font-size: 25px;
    color: #ffd000;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
</style>

<script>
//function
let formatDate = (date = new Date()) => {
   
   //get data
   let time = `${date.getHours()}:${date.getMinutes()}`;
   let days = date.getDate();
   let months = date.getMonth() + 1;
   let years = date.getFullYear();

   //format
   let format = `${time} ${days}/${months}/${years}`;

   message = format;
};
</script>