<!DOCTYPE html>
<html lang="en">
    <%-include('../layouts/head')%>
    <link rel="stylesheet" href="/../CSS/Styles.css">
    <body class="d-flex flex-column vh-100">
        <%-include('../partials/navbar')%>
        <main class="container mt-5">
        <%-include('../partials/flash')%>
        <%- body %>
        </main>
        <%-include('../partials/footer')%>
        <script src="/../JS/validateForms.js"></script>
    </body>
</html>