<!DOCTYPE html>
<html lang="en">
    <%-include('../layouts/head')%>
    <link rel="stylesheet" href="/../CSS/styles.css">
    <link rel="stylesheet" href="/../CSS/global.css">
    <body class="d-flex flex-column vh-100">
        <%-include('../partials/navbar')%>
        <main class="container">
        <%-include('../partials/flash')%>
        <%- body %>
        </main>
        <%-include('../partials/footer')%>
        <script src="/../JS/disableDefaults.js"></script>
        <script src="/../JS/validateForms.js"></script>
    </body>
</html>